$lottonini-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$lottonini-nature-accent: mat-palette($mat-deep-purple, 300);
$lottonini-nature-warn: mat-palette($mat-red, 600);

$lottonini-nature-theme: mat-light-theme(
  $lottonini-nature-primary,
  $lottonini-nature-accent,
  $lottonini-nature-warn
);
