<div class="container">
  <h1>{{ 'lottonini.examples.crud.title' | translate }}</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ 'lottonini.examples.crud.subtitle1' | translate }}</h2>
      <mat-card *ngFor="let book of books$ | async" [ngClass]="routeAnimationsElements"
        [routerLink]="['/examples/crud', book.id]" (click)=select() data-testid="crud-item">
        <h3 data-testid="item-title">{{book.title}}</h3>
        <small>{{book.author}}</small>
      </mat-card>
      <p *ngIf="(books$ | async)?.length === 0">{{'lottonini.examples.crud.empty' | translate}}</p>
      <button type="button" mat-fab color="primary" class="add" [ngClass]="routeAnimationsElements"
        *ngIf="!isEditing" (click)="addNew(bookForm)" data-testid="add-crud">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
    <div class="col-md-6">
      <span class="d-flex justify-content-between">
        <h2>{{ 'lottonini.examples.crud.subtitle2' | translate }}</h2>
        <span class="d-flex justify-content-end">
          <span *ngIf="selectedBook">
            <button mat-icon-button color="accent" *ngIf="!isEditing" data-testid="edit-crud">
              <fa-icon icon="edit" (click)="edit()" [matTooltip]="'lottonini.examples.crud.tooltip.edit' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete()" data-testid="delete-crud">
              <fa-icon icon="trash" [matTooltip]="'lottonini.examples.crud.tooltip.delete' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
            <button mat-icon-button (click)="deselect()">
              <fa-icon icon="times" [matTooltip]="'lottonini.examples.crud.tooltip.deselect' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
          </span>
        </span>
      </span>

      <form #bookForm="ngForm" [formGroup]="bookFormGroup" [style.display]="isEditing ? 'block' : 'none'"
        [ngClass]="routeAnimationsElements">
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'lottonini.examples.crud.placeholder1' | translate }}"
              formControlName="title" required autofocus>
            <mat-error *ngIf="bookFormGroup.get('title').invalid" data-testid="error-title-crud">
              {{ 'lottonini.examples.crud.placeholder1' | translate }}
              {{ 'lottonini.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'lottonini.examples.crud.placeholder2' | translate }}"
              formControlName="author" required>
            <mat-error *ngIf="bookFormGroup.get('author').hasError('required')" data-testid="error-author-crud">
              {{ 'lottonini.examples.crud.placeholder2' | translate }}
              {{ 'lottonini.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <textarea matInput placeholder="{{ 'lottonini.examples.crud.placeholder3' | translate }}"
              formControlName="description" rows="5"></textarea>
            <mat-error *ngIf="bookFormGroup.get('description').invalid">
              {{ 'lottonini.examples.crud.placeholder1' | translate }}
              {{ 'lottonini.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button (click)="save()" mat-raised-button color="primary">
              {{'lottonini.examples.crud.save' | translate }}
            </button>
            <button (click)="cancelEditing()" mat-raised-button>
              {{'lottonini.examples.crud.cancel' | translate }}
            </button>
          </div>
        </div>
      </form>

      <div [ngClass]="routeAnimationsElements" *ngIf="!isEditing && selectedBook">
        <h3>{{ selectedBook.title }}</h3>
        <mat-divider></mat-divider>
        <p>{{ selectedBook.description }}</p>
        <i>{{ selectedBook.author }}</i>
      </div>

      <p *ngIf="!isEditing && !selectedBook" [ngClass]="routeAnimationsElements">
        {{'lottonini.examples.crud.text' | translate }} <code>@ngrx/entity</code>.
      </p>

    </div>
  </div>
</div>
